[flake8]
max-line-length = 120
extend-ignore = E203, W503, E501, I100, I101, I202, D100, D101, D102, D103, D104, D107, D200, D202, D205, D212, D301, D403, D415
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .pytest_cache,
    htmlcov,
    .coverage,
    build,
    dist,
    *.egg-info
per-file-ignores =
    __init__.py:F401
max-complexity = 15
docstring-convention = google
import-order-style = google
application-import-names = auto_post
